body {
  background-color: #333;
  margin: 0;
}

#paper {
  background-color: #777;
  /* width: 500px;
  height: 500px; */
}

#paper .point {
  width: 5px;
  height: 5px;
  /* background-color: yellow; */
  border: 1px solid #888;
  border-radius: 100%;
  box-sizing: border-box;
  float: left;
}